.login {
    background-image: url('../../../../public/images/reg.png');
}

.login h2,
.login h3 {
    color: #fff;
    padding-top: 20px;
    text-align: center;
}

.login-block {
    text-align: center;
    font-size: 30px;
}

.login a {
    font-size: 24px;
    text-decoration: underline;
}

.login label {
    margin-left: 15px;
    color: #19b9e7;
}

.login .form-horizontal {
    margin-left: 280px;
}

.login .form-control {
    color: black;
}

button {
    height: 50px;
    margin: 0;
    padding: 0px 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

button:hover {
    opacity: 0.6;
    color: #fff;
}

button:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}

button:active:focus,
button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #19b9e7;
    color: #fff;
}