<div id="profiles" class="item active parallax">
    <div class="title profiles-caption">
        <h2 class="animated fadeInLeftBig">Discover <strong>Profiles</strong></h2>
        <p class="animated fadeInRightBig">Loop through current users catalogue</p>
    </div>
    <div class="search">
        <label for="filter">Search</label>
        <input class="form-control" id="search-box" placeholder="First name" [(ngModel)]="searchBox.value" (change)="onSearch(searchBox.value)" #searchBox />
    </div>
    <div class="content" *ngFor="let user of (users | filter: searchBox.value)">
        <div class="user-info overlay" id="{{_id}}">
            <div class="user-cover" *ngIf="!user.avatarUrl">
                <img src="{{user.avatarUrl}}">
            </div>
            <div class="user-cover" *ngIf="user.avatarUrl">
                <img src="http://www.adsitsolutions.com/images/icons/grey/home-user-icon.png">
            </div>
            <div class="options">
                <h3><a routerLink="/users/:{{_id}}" routerLinkActive="active">{{user.firstName}} {{user.lastName}}</a></h3>
            </div>
        </div>
    </div>
</div>