#profiles {
    background-image: url('../../../public/images/profiles-all.png');
    background-repeat: repeat !important;
    background-size: cover !important;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    min-height: 130%;
    overflow: auto;
}

#user-details,
#user-details .title h1 {
    color: lightblue;
}

#user-details .user-info {
    padding-top: 170px;
    padding-left: 43%;
    font-size: 10px;
    color: #fff;
}

#user-details .user-info .user-cover {
    background-color: #fff7f8;
    height: 200px;
    width: 180px;
    text-align: center;
}

#user-details .user-info .user-cover img {
    background-color: #fff7f8;
    height: 200px;
    width: 180px;
    text-align: center;
}

.interview h3,
.interview h4,
.interview label {
    color: Beige;
}