#profiles-all {
    background-image: url('../../../public/images/profiles-all.png');
    background-repeat: repeat !important;
    background-size: cover !important;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    min-height: 130%;
    overflow: auto;
}

.users-container {
    height: 100%
}

#profiles-all .profiles-caption {
    position: absolute;
    margin-top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

#profiles-all .search {
    margin: 0 auto;
    margin-top: 200px;
    position: absolute;
    align-content: center;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    width: 450px;
}

#profiles-all .pipes {
    display: inline-block;
    margin: 0 auto;
    align-content: center;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 280px;
    position: absolute;
    font-size: 18px;
    font-weight: 300;
}

#profiles-all .pipes .order,
#profiles-all .pipes .sort {
    display: inline-block;
    padding-left: 20px;
    width: 200px;
    margin: 0 auto;
    align-content: center;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

#profiles-all .profiles-caption h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    width: 100%;
    float: left;
    text-align: center;
}

#profiles-all .profiles .title {
    float: left;
    position: relative;
    width: 100%;
}

#profiles-all .profiles-caption p {
    float: left;
    position: relative;
    width: 100%;
    color: darkgrey;
    font-weight: bold;
    text-align: center;
    font-family: montserrat-regular;
    font-size: 20px;
}

#profiles-all img {
    height: 200px;
    width: 180px;
}

#profiles-all .content-users {
    margin: 0 auto;
    align-content: center;
    margin-top: 340px;
    padding-left: 115px;
    font-size: 18px;
    font-weight: 300;
}

#profiles-all .overlay {
    display: block;
    float: left;
    padding: 15px;
    margin: 15px 30px;
    text-align: center;
    background-color: #fff7f8;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#profiles-all .overlay h3 a:hover {
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=50);
}