<div class="container-profile-details parallax">
    <div class="title">
        <h1>{{user.firstName}} {{user.lastName}}'s profile</h1>
    </div>
    <div class="user-info" id="{{_id}}">
        <div class="user-cover" id="profile-avatar" *ngIf="avatarUrl">
            <img [src]="avatarUrl">
        </div>
        <div class="user-cover" *ngIf="!avatarUrl">
            <img src="../../../public/images/profile.png">
        </div>
        <div class="options">
            <h3><label class="user-email">Email:  </label> {{ email }}</h3>
            <h3><label class="user-firstname">First name:  </label> {{ firstName }}</h3>
        </div>
        <!--<div class="interview-modules">
            <ul>
                <li *ngFor="let interview of interviews">
                    {{this.module.title}}
                </li>
            </ul>
        </div>-->
        <!--<div class="buttons">
            <button type="">Rate</button>
        </div>-->
    </div>
</div>