<div class="users-container" id="user-details">
    <div id="profiles" class="item active parallax">  
        <div class="title profiles-caption">
            <h1>{{firstName}} {{lastName}}'s profile</h1>
        </div>
        <div class="user-info" id="{{_id}}">
            <div class="user-cover" id="profile-avatar" *ngIf="avatarUrl">
                <img [src]="avatarUrl">
            </div>
            <div class="user-cover" *ngIf="!avatarUrl">
                <img src="../../../public/images/profile.png">
            </div>
            <div class="options">
                <h3><label class="user-detail">Email:</label> {{email}}</h3>
                <h3><label class="user-detail">First name:</label> {{firstName}}</h3>
                <h3><label class="user-detail">Last name:</label> {{lastName}}</h3>
                <h3><label class="user-detail">Age:</label> {{age}}</h3>
            </div>
            <br>
            <div class="interview" *ngIf="interview">
                <h3 class="interview-title">{{interview.title}}</h3>
                <ul>
                    <li *ngFor="let question of interview.questions">
                        <h4><label class="user-firstname">Q:</label> {{question.title}}</h4>
                        <h4><label class="user-firstname">A:</label> {{question.answer}}</h4>
                        <br>
                    </li>
                </ul>
            </div>
            <br>
            <rating [(ngModel)]="rating" [max]="5" iconClass="fa-star" fullIcon="★" emptyIcon="☆" [readonly]="false" [disabled]="false" [required]="true" [float]="true" [titles]="['one', 'two', 'three', 'four', 'five']">
            </rating>
        </div>
        
        
    </div>
</div>