<div id="home" class="home">
    <div class="inner">
        <div class="interviews interviews-all active parallax">
            <div class="interviews-caption">
                <h3 class="animated fadeInLeftBig">Loop through our interviews catalog</h3>
                <!--<p class="animated fadeInRightBig">Discover and get inspired...</p>-->
                <div class="pr-table col-sm-6 grid-sizer" *ngFor="let interview of interviews">
                <div class="wrapper">
                    <h3>{{interview.title}}</h3>
                    <div class="item overlay">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>