pre {
    width:750px;
}

.interview-content{
    padding-left: 300px;
    text-align: center;
}

.container-profile-details {
    background-image: url('../../../public/images/profiles-all.png');
    background-repeat: repeat !important;
    background-size: cover !important;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    min-height: 130%;
    overflow: auto;
    text-align: center;
}

.container-profile-details .title {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 18px;
    font-weight: 300;
}

.user-detail,
#profiles .title h1 {
    color: lightblue;
}

.interviews-details .interview-info {
    padding-top: 130px;
    padding-left: 35%;
    font-size: 10px;
    color: #fff;
}

.interviews-details .interview-info .interview-cover {
    background-color: #fff7f8;
    height: 400px;
    width: 400px;
    text-align: center;
}

.interviews-details .interview-info .interview-cover img {
    background-color: #fff7f8;
    height: 400px;
    width: 400px;
    text-align: center;
}

.interviews-details .options h3{
    padding-left: 120px;
}

.interview-label {
    text-align: center;
}