<div id="profiles" class="item active parallax">
    <div class="title profiles-caption">
        <h2 class="animated fadeInLeftBig">Discover <strong>Interviews</strong></h2>
        <p class="animated fadeInRightBig">Loop through current interviews catalogue</p>
        <div class="search animated fadeInDownBig">
            <label for="filter">Search</label>
            <input class="form-control" id="search-box" placeholder="Title" [(ngModel)]="searchBox.value" (change)="onSearch(searchBox.value)" #searchBox />
        </div>
    </div>
    <div class="content-all animated fadeInUpBig">
        <div class="interview-info overlay" *ngFor="let interview of (interviews | interviewsSortPipe:'technology' | interviewsFilterPipe: searchBox.value)" id="{{interview._id}}">
            <div class="interview-cover">
                <img src="{{interview.imageUrl}}">
            </div>
            <div class="options">
                <h3><a routerLink="/interviews/:{{interview._id}}" routerLinkActive="active">{{interview.title}}</a></h3>
            </div>
        </div>
    </div>
</div>