<div id="profiles" class="item active parallax">
    <div class="title profiles-caption">
        <h2 class="animated fadeInLeftBig">Discover <strong>Interviews</strong></h2>
        <p class="animated fadeInRightBig">Loop through current interviews catalogue</p>
    </div>
    <div class="content-all" >
        <div class="interview-info overlay" *ngFor="let interview of (interviews | interviewsSortPipe:'business')" id="{{interview._id}}">
            <div class="interview-cover">
                <img src="{{interview.imageUrl}}">
            </div>
            <div class="options">
                <h3><a routerLink="/interviews/:{{interview._id}}" routerLinkActive="active">{{interview.title}}</a></h3>
            </div>
        </div>
    </div>
</div>