<div id="home" class="home">
    <div class="inner">
        <div class="interviews active parallax">
            <div class="interviews-caption">
                <h2 class="animated fadeInLeftBig">
                    Here you can edit your <span><a [routerLink]="['/my-profile/edit-info']" routerLinkActive="active">profile information</a></span>,
                    <br />update your <span><a [routerLink]="['/my-profile/edit-interview']" routerLinkActive="active">interview</a></span>
                    <br />or your <span><a [routerLink]="['/my-profile/edit-interview']" routerLinkActive="active">projects</a></span>
                </h2>
                <a data-scroll class="btn btn-start animated fadeInUpBig" [routerLink]="['/my-profile/edit-info']" routerLinkActive="active">Profile</a>
                <a data-scroll class="btn btn-start animated fadeInUpBig" [routerLink]="['/my-profile/edit-interview']" routerLinkActive="active">Interview</a>
                <a data-scroll class="btn btn-start animated fadeInUpBig" [routerLink]="['/my-profile/edit-interview']" routerLinkActive="active">Projects</a>
            </div>
        </div>
    </div>
</div>

