/*main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    display: block;
    background-image: url('../../public/images/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}*/