<div class="main-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" routerLink="">
                <h1><img class="img-responsive animated rotateIn" src="../../../public/images/logo.png" alt="logo"></h1>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" *ngIf="!isUserLoggedIn">
                <li class="scroll"><a routerLink="" routerLinkActive="active">Home</a></li>
                <li class="scroll"><a routerLink="/interviews" routerLinkActive="active">Interviews</a></li>
                <li class="scroll"><a routerLink="/users" routerLinkActive="active">Users</a></li>
                <li class="scroll"><a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li class="scroll"><a routerLink="/register" routerLinkActive="active">Register</a></li>
                <li class="scroll"><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isUserLoggedIn">
                <li class="scroll"><a routerLink="" routerLinkActive="active">Home</a></li>
                <li class="scroll"><a routerLink="/interviews" routerLinkActive="active">Interviews</a></li>
                <li class="scroll"><a routerLink="/users" routerLinkActive="active">Users</a></li>
                <li class="scroll"><a routerLink="/my-profile" routerLinkActive="active">My Profile</a></li>
                <li class="scroll"><a routerLink="/logout" routerLinkActive="active" (click)="logout()">Logout</a></li>
                <li class="scroll"><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>