<div class="main-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="scroll active"><a routerLink="" routerLinkActive="active">Home</a></li>
                <li class="scroll"><a routerLink="/interviews" routerLinkActive="active">Interviews</a></li>
                <li class="scroll"><a routerLink="/profiles" routerLinkActive="active">Profiles</a></li>
                <li class="scroll"><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
                <li class="scroll"><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>