<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="#page-top">Interviews</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a class="page-scroll" routerLink="about" routerLinkActive="active">About us</a>
                </li>
                <li>
                    <a class="page-scroll" routerLink="interviews" routerLinkActive="active">Interviews</a>
                </li>
                <li>
                    <a class="page-scroll" routerLink="users" routerLinkActive="active">Users</a>
                </li>
                <li>
                    <a class="page-scroll" routerLink="contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>